.howhard {
    float: right;
    width: 150px;
    border-radius: 10px;
	text-align: center;
	border: 1px solid #777;
	box-shadow: 3px 3px 0 #aaa;
}

.howhard_img {
    margin-top: 5px;
}

.howhard_txt {
    font-weight: bold;
    font-size: 14px;
}

.howhard_title {
    font-weight: bold;
    font-size: 16px;
    border-bottom: 1px solid;
}

.howhard_compact {
    float: right;
    width: 130px;
	text-align: center;
}

.howhard_img_compact {
    margin-top: 0;
}

.howhard_txt_compact {
    margin-top: -21px;
    font-weight: bold;
    font-size: 14px;
}

div.picker.howhard_toolbar {
	width: auto;
}

